<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<link rel="stylesheet" href="">
<style>
span {
	display: inline-block;
	width: 200px;
	text-align: left;
	margin: 5px;
}

.spanField {
	font-weight: bold;
}
</style>
</head>
<body>
	<div align="center">

		<h1>Registration Succeeded :)</h1>
		<span class="spanField">Name</span><span th:text="${user.name}"></span>
		<br> <span class="spanField">Email</span><span
			th:text="${user.email}"></span><br> <span class="spanField">Age</span><span
			th:text="${user.age}"></span><br> <span class="spanField">Country</span><span
			th:text="${user.country}"></span><br> <span class="spanField">Profession</span><span
			th:text="${user.profession}"></span><br>
	</div>
</body>
</html>